{% extends 'base.html' %}
{% block content %}
<h2>Welcome to Student ERP System</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Students</h5>
            <p>{{ total_students }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Courses</h5>
            <p>{{ total_courses }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Attendance Records</h5>
            <p>{{ total_attendance }}</p>
        </div>
    </div>
</div>
{% endblock %}